footer {
    background-color: hsl(0, 0%, 0%);
    color: rgb(192, 142, 156);
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
}

.divFooter {
    text-align: center;
    margin-left: 42%;
    font-size: large;
}