.body{
    background-color: rgb(255 232 238);
    padding: 3%;
    text-align: justify;
    font-size: larger;
}

.linkHome{
    background-color: rgb(0, 0, 0);
    color: rgb(255 232 238);
    font-size: 156%;
    padding: 1%;
    border-radius: 18%;
}